{% extends 'base.html' %}

{% block title %}Logout - Media Processor{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header bg-danger text-white">
                <h2 class="mb-0">Logged Out</h2>
            </div>
            <div class="card-body">
                <p>You have been successfully logged out.</p>
                <a href="{% url 'login' %}" class="btn btn-primary">Login Again</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
